.login-form,
.registation-form {
    width         : 100%;
    background    : #fff;
    overflow      : hidden;
    display       : flex;
    flex-wrap     : wrap;
    align-items   : stretch;
    flex-direction: row-reverse;
}

.login-form .form-wrapper,
.registation-form .form-wrapper {
    background-color: #fff;
    padding-left    : 40px;
    padding-right   : 40px;
    display         : block;
    border-radius   : 14px;
    width           : 560px;
    min-height      : 100vh;
    background      : #fff;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
}

.login-form form,
.registation-form form {
    display       : flex;
    flex-direction: column;
}

.login-form h3,
.registation-form h3 {
    text-align             : center;
    color                  : #9e9e9e;
    padding                : 10px;
    background             : linear-gradient(127deg, rgba(80, 97, 105, 1) 0%, rgba(155, 166, 172, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size              : 24px;
}

.login-form .form-wrapper form input,
.registation-form .form-wrapper form input {
    margin-top: 20px;
    padding   : 15px;
    margin    : 5px 0 5px 0;
    display   : inline-block;
    border    : none;
    background: #f1f1f1;
    outline   : none;
}

.login-form .form-wrapper form label,
.registation-form .form-wrapper form label {
    margin-top: 40px;
    font-size : 16px;
    text-align: center;
}

.login-form .form-wrapper form label a,
.registation-form .form-wrapper form label a {
    text-decoration        : none;
    background             : linear-gradient(127deg, rgba(80, 97, 105, 1) 0%, rgba(155, 166, 172, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registation-form form button,
.login-form form button {
    background: linear-gradient(127deg, rgba(80, 97, 105, 1) 0%, rgba(155, 166, 172, 1) 83%);
    color     : white;
    padding   : 16px 20px;
    margin    : 5px 0;
    border    : none;
    cursor    : pointer;
    width     : 100%;
    opacity   : 0.8;
}

.login-form .form-wrapper form button:hover,
.registation-form .form-wrapper form button:hover {
    opacity: 1;
}

.login-form .form-wrapper form input,
.registation-form .form-wrapper form input {
    flex-grow       : 1;
    height          : 32px;
    outline         : none;
    width           : 100%;
    border          : none;
    background      : no-repeat bottom;
    background-size : 0 100%, 100% 100%;
    background-image: linear-gradient(0deg, #9ba6ac 2px, rgba(66, 66, 66, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
    font-size       : 18px;
}

.login-form .form-wrapper form input:focus,
.registation-form .form-wrapper form input:focus {
    background-size    : 100% 100%, 100% 100%;
    transition-duration: .5s;
    box-shadow         : none;
    outline            : none;
}

.form-img {
    background-image   : url('../img/login/bg.jpeg');
    width              : 100%;
    height             : 100%;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    position           : absolute;
    left               : 0;
    z-index            : 999;
    width              : calc(100% - 560px);
}

.form-img::before {
    content   : "";
    display   : block;
    position  : absolute;
    z-index   : -1;
    width     : 100%;
    height    : 100%;
    top       : 0;
    left      : 0;
    background: rgba(0, 0, 0, 0.5);
}

.login-form form span,
.registation-form form span {
    color        : red;
    margin-bottom: 35px;
}